// // Body
$body-bg: #f7f9fb;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;
$tr_border: 2px solid black;

// Nav Pills
$nav-pills-border-radius: 0;

// Colors
$main-color-bg: #1565C0 !important;
$text-color: #fff;
$btn-bg-color: #FF9800 !important;
$tr_profit__bg: #5ccd61;
$tr_debts__bg: #ff5a4d;
